In [6]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\utilizador\anaconda3\lib\site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in c:\users\utilizador\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\utilizador\anaconda3\lib\site-packages (from kaggle) (2024.12.14)
Requirement already satisfied: python-dateutil in c:\users\utilizador\anaconda3\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\utilizador\anaconda3\lib\site-packages (from kaggle) (2.32.2)
Requirement already satisfied: tqdm in c:\users\utilizador\anaconda3\lib\site-packages (from kaggle) (4.66.4)
Requirement already satisfied: python-slugify in c:\users\utilizador\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\utilizador\anaconda3\lib\site-packages (from kaggle) (2.2.2)
Requirement already satisfied: bleach in c:\users\utilizador\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\utilizador\anaconda3\lib\site-packages (from bleach->kaggle) (23.2)
Requirement already satisfied: webencodings in c:\users\utilizador\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\utilizador\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\utilizador\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\utilizador\anaconda3\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: colorama in c:\users\utilizador\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)

In [9]:
import os

dataset_ref = "sudalairajkumar/cryptocurrencypricehistory"

#download dataset via CLI
os.system(f"kaggle datasets download -d {dataset_ref}")

0

In [13]:
import zipfile

zip_name = "cryptocurrencypricehistory.zip"
extract_folder = "my_dataset"

# Extract all files from the ZIP
with zipfile.ZipFile(zip_name, "r") as zip_ref:
    zip_ref.extractall(extract_folder)

# List extracted files
file_list = os.listdir(extract_folder)
print("Extracted files:", file_list)

Extracted files: ['coin_Aave.csv', 'coin_BinanceCoin.csv', 'coin_Bitcoin.csv', 'coin_Cardano.csv', 'coin_ChainLink.csv', 'coin_Cosmos.csv', 'coin_CryptocomCoin.csv', 'coin_Dogecoin.csv', 'coin_EOS.csv', 'coin_Ethereum.csv', 'coin_Iota.csv', 'coin_Litecoin.csv', 'coin_Monero.csv', 'coin_NEM.csv', 'coin_Polkadot.csv', 'coin_Solana.csv', 'coin_Stellar.csv', 'coin_Tether.csv', 'coin_Tron.csv', 'coin_Uniswap.csv', 'coin_USDCoin.csv', 'coin_WrappedBitcoin.csv', 'coin_XRP.csv']

In [6]:
import pandas as pd

dataframe = pd.read_csv("../src/my_dataset/coin_Aave.csv")
dataframe

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Aave,AAVE,2020-10-05 23:59:59,55.112358,49.787900,52.675035,53.219243,0.000000e+00,8.912813e+07
1,2,Aave,AAVE,2020-10-06 23:59:59,53.402270,40.734578,53.291969,42.401599,5.830915e+05,7.101144e+07
2,3,Aave,AAVE,2020-10-07 23:59:59,42.408314,35.970690,42.399947,40.083976,6.828342e+05,6.713004e+07
3,4,Aave,AAVE,2020-10-08 23:59:59,44.902511,36.696057,39.885262,43.764463,1.658817e+06,2.202651e+08
4,5,Aave,AAVE,2020-10-09 23:59:59,47.569533,43.291776,43.764463,46.817744,8.155377e+05,2.356322e+08
...,...,...,...,...,...,...,...,...,...,...
270,271,Aave,AAVE,2021-07-02 23:59:59,234.483957,215.951539,230.814119,233.948437,2.566395e+08,3.001542e+09
271,272,Aave,AAVE,2021-07-03 23:59:59,265.107342,228.485206,234.208478,259.655225,3.853778e+08,3.331546e+09
272,273,Aave,AAVE,2021-07-04 23:59:59,289.001124,248.285491,259.399426,277.038792,4.275719e+08,3.555054e+09
273,274,Aave,AAVE,2021-07-05 23:59:59,317.387234,263.433881,277.110533,307.829079,7.931409e+08,3.950269e+09
274,275,Aave,AAVE,2021-07-06 23:59:59,346.714780,307.997525,307.997525,316.898507,9.887055e+08,4.066776e+09

In [7]:
print(dataframe.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        275 non-null    int64
 1   Name       275 non-null    object
 2   Symbol     275 non-null    object
 3   Date       275 non-null    object
 4   High       275 non-null    float64
 5   Low        275 non-null    float64
 6   Open       275 non-null    float64
 7   Close      275 non-null    float64
 8   Volume     275 non-null    float64
 9   Marketcap  275 non-null    float64
dtypes: float64(6), int64(1), object(3)
memory usage: 21.6+ KB
None

In [8]:
# checking if NSo is primary key, true means yes
print(dataframe["SNo"].is_unique)

True

In [9]:
print(dataframe["Name"].is_unique)

False

In [10]:
print(dataframe["Date"].is_unique)

True

In [18]:
for column in dataframe.columns:
    print(column, dataframe[column].is_unique, dataframe[column].isna().sum())

SNo True 0
Name False 0
Symbol False 0
Date True 0
High True 0
Low True 0
Open True 0
Close True 0
Volume True 0
Marketcap True 0